.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet */
@media (min-width: 701px) and (max-width: 1120px) {

}

/* Dark theme */
@media (prefers-color-scheme: dark) {

}
