/* spacing */

@for $i from 0 through 16 {
    .ma-#{$i} { margin: 0.25rem * $i !important; }
    .mt-#{$i} { margin-top: 0.25rem * $i !important; }
    .mb-#{$i} { margin-bottom: 0.25rem * $i !important; }
    .ml-#{$i} { margin-left: 0.25rem * $i !important; }
    .mr-#{$i} { margin-right: 0.25rem * $i !important; }
    .my-#{$i} { margin: 0.25rem * $i 0 !important; }
    .mx-#{$i} { margin: 0 0.25rem * $i 0 !important ; }

    .pa-#{$i} { padding: 0.25rem * $i !important; }
    .pt-#{$i} { padding-top: 0.25rem * $i !important; }
    .pb-#{$i} { padding-bottom: 0.25rem * $i !important; }
    .pl-#{$i} { padding-left: 0.25rem * $i !important; }
    .pr-#{$i} { padding-right: 0.25rem * $i !important; }
    .py-#{$i} { padding: 0.25rem * $i 0 !important; }
    .px-#{$i} { padding: 0 0.25rem * $i 0 !important; }
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100vh !important;
}

/* grid */

@for $i from 1 through 8 {
    .grid-col-#{$i} {
        display: grid;
        grid-template-columns: repeat($i, minmax(0, 1fr));
    }
    .col-span-#{$i}	{
        grid-column: span $i;
    }
    .gap-#{$i} {
        gap: #{$i}px;
    }
}

/* display */


$display-items: block flex inline;

@each $item in $display-items {
    .d-#{$item} {
        display: $item !important;
    }
}


/* align */

$align-items: center left right;

@each $item in $align-items {
    .text-#{$item} {
        text-align: $item !important;
    }
}

.box-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* color */

$color-items: primary secondary white red;

@each $item in $color-items {
    .text-#{$item} {
        color: var(--#{$item}) !important;
    }
    .bg-#{$item} {
        background-color: var(--#{$item}) !important;
    }
}
